:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
}

.navbar a {
  padding: 20px;
  color: white;
  text-decoration: none;
}

.container {
  padding: 40px;
  margin-top: 50px;
}

.upload-section {
  text-align: center;
  margin-bottom: 50px;
}

.fichero{
  border: 5px solid white;
  padding: 10px;
}

button {
  background-color: #E50914;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.collection {
  text-align: center;
  margin-top: 50px;
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  justify-content: center;
}

.card {
  text-align: center;
  background-color: #1e1e1e;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
