.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
}

.navbar a {
    padding: 20px;
    color: white;
    text-decoration: none;
}