.upload-section {
    text-align: center;
    margin-bottom: 50px;
}

.fichero {
    border: 5px solid white;
    padding: 10px;
}

button {
    background-color: #E50914;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}